:root {

  --blue-1: rgba(0, 76, 153, 1);
  --blue-2: rgba(0, 76, 153, 0.9);
  --blue-3: rgba(0, 76, 153, 0.8);
  --blue-4: rgba(0, 76, 153, 0.7);
  --blue-5: rgba(0, 76, 153, 0.6);

  --pink-1: rgba(145, 33, 61, 1);
  --pink-2: rgba(145, 33, 61, 0.9);
  --pink-3: rgba(145, 33, 61, 0.8);
  --pink-4: rgba(145, 33, 61, 0.7);
  --pink-5: rgba(145, 33, 61, 0.6);

  --grey-1: rgba(106, 106, 106, 1);
  --grey-2: rgba(106, 106, 106, 0.9);
  --grey-3: rgba(106, 106, 106, 0.8);
  --grey-4: rgba(106, 106, 106, 0.7);
  --grey-5: rgba(106, 106, 106, 0.6);

  --white-1: rgba(255, 255, 255, 1);
  --white-2: rgba(255, 255, 255, 0.9);
  --white-3: rgba(255, 255, 255, 0.8);
  --white-4: rgba(255, 255, 255, 0.7);
  --white-5: rgba(255, 255, 255, 0.6);



  --black: rgb(0, 0, 0);

}

body {
  background-color: var(--white-1);
}



a {
  text-decoration: none;
  color: inherit;
}

a.inline-link {
  color:var(--blue-1);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}


.text-justify {
  text-align: justify;
}

.navbar {
  background-color: var(--white-1);
}

.navbar-toggler {
  border: none;
}

.search-container {
  background-color: var(--blue-1);
  height: 80px;
}

.searchfield {
  height: 3rem;
  border-radius: 24px;
}

/* Text */
.text-grey-1 {
  color: var(--grey-1);
}
.text-grey-2 {
  color: var(--grey-2);
}
.text-grey-3 {
  color: var(--grey-3);
}
.text-grey-4 {
  color: var(--grey-4);
}
.text-grey-5 {
  color: var(--grey-5);
}
.text-white {
  color: var(--white-1);
}
/* Button */
.btn-primary {
  background-color: var(--blue-1) !important;
  border-color: var(--blue-1) !important;
  color: var(--white-1);
}
.btn-primary:hover {
  background-color: var(--blue-2) !important;
  border-color: var(--blue-2) !important;
}
.btn-primary:active {
  background-color: var(--blue-3) !important;
  border-color: var(--blue-3) !important;
}
.btn-primary-reversed {
  background-color: var(--white-1) !important;
  border-color: var(--blue-1) !important;
  color: var(--blue-1) !important;
}
.btn-primary-reversed:hover {
  background-color: var(--white-1) !important;
  border-color: var(--blue-1) !important;
  color: var(--blue-1) !important;
}
.btn-primary-reversed:active {
  background-color: var(--white-1) !important;
  border-color: var(--blue-1) !important;
  color: var(--blue-1) !important;
}

.btn-secondary {
  background-color: var(--pink-1) !important;
  border-color: var(--pink-1) !important;
  color: var(--white-1) !important;
}

.btn-secondary:hover {
  background-color: var(--pink-2) !important;
  border-color: var(--pink-2) !important;
  color: var(--white-1) !important;
}

.btn-secondary:active {
  background-color: var(--pink-3) !important;
  border-color: var(--pink-3) !important;
  color: var(--white-1) !important;
}

.btn-tertiary {
  background-color: var(--grey-1) !important;
  border-color: var(--grey-1) !important;
  color: var(--white-1) !important;
}
.btn-tertiary:hover {
  background-color: var(--grey-2) !important;
  border-color: var(--grey-2) !important;
  color: var(--white-1) !important;
}
.btn-tertiary:active {
  background-color: var(--grey-3) !important;
  border-color: var(--grey-3) !important;
  color: var(--white-1) !important;
}

.btn-outline-tertiary {
  background-color: var(--white-1) !important;
  border-color: var(--grey-1) !important;
  color: var(--grey-1) !important;
}
.btn-outline-tertiary:hover {
  background-color: var(--grey-2) !important;
  border-color: var(--grey-2) !important;
  color: var(--white-1) !important;
}
.btn-outline-tertiary:active {
  background-color: var(--grey-3) !important;
  border-color: var(--grey-3) !important;
  color: var(--white-1) !important;
}

.btn-floating-action {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}


#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


/* Card */
.ll-card {
  background-color: var(--white-1);
}

.ll-card-img img {
  max-height: 75px;
  max-width: 50px;
}

.ll-card-middle {
  line-height: 1.2;
  padding-right: 20px;
}

.ll-card-title {
  font-size: 1rem;
  font-weight: bold;
}

.ll-card a:hover {
  text-decoration: underline;
}

.ll-card-details {
  font-size: 0.8rem;
}

.ll-card-blurb {
  font-size: 0.9rem;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:active,
.accordion-button:hover {
  outline: none;
  box-shadow: none;
  border: none;
}

.offcanvas {
  width: 100vw !important;
  max-width: 399px;
}

.filter-icon {
  margin-right: 1rem;
}

/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.checkbox-unchecked {
  color: var(--grey-3);
}

.checkbox-checked {
  color: var(--blue-1);
  font-weight: 600;
}

/* Book page */
.book-img {
  height: 30vh;
  max-width: 100%;
}

.info-header {
  /* border-bottom: 1px solid var(--blue-5); */
  text-transform: uppercase;
  color: var(--blue-1);
  font-weight: 600;
  margin-top: 1rem;
}

.book-icons {
  border-top: 1px solid var(--grey-5);
  border-bottom: 1px solid var(--grey-5);
}